In [60]:
## Importacion de las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [62]:
# Lectura de los archivos csv
df_flight_activity = pd.read_csv('./files/Customer Flight Activity.csv')
df_flight_activity.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [63]:
df_loyalty_history = pd.read_csv('./files/Customer Loyalty History.csv')
df_loyalty_history.head()

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN

- Exploración y limpieza de datos

In [64]:
df_flight_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

In [65]:
df_loyalty_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Loyalty Number      16737 non-null  int64
 1   Country             16737 non-null  object
 2   Province            16737 non-null  object
 3   City                16737 non-null  object
 4   Postal Code         16737 non-null  object
 5   Gender              16737 non-null  object
 6   Education           16737 non-null  object
 7   Salary              12499 non-null  float64
 8   Marital Status      16737 non-null  object
 9   Loyalty Card        16737 non-null  object
 10  CLV                 16737 non-null  float64
 11  Enrollment Type     16737 non-null  object
 12  Enrollment Year     16737 non-null  int64
 13  Enrollment Month    16737 non-null  int64
 14  Cancellation Year   2067 non-null   float64
 15  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(3), object(9)
memory usage: 2.0+ MB

In [66]:
df_flight_activity.shape

(405624, 10)

In [67]:
df_loyalty_history.shape

(16737, 16)

In [68]:
# Verificación de duplicados en el primer dataframe
df_flight_activity.duplicated().sum()

np.int64(1864)

In [69]:
#Eliminar los duplicados    
df_flight_activity.drop_duplicates(inplace=True)

In [70]:
#Comprobación de duplicados
df_flight_activity.duplicated().sum()

np.int64(0)

In [71]:
# Verificación de duplicados en el segundo datraframe
df_loyalty_history.duplicated().sum()

np.int64(0)

In [72]:
# Verificacion de valores nulos en ambos dataframes
df_flight_activity.isnull().sum()

Loyalty Number                 0
Year                           0
Month                          0
Flights Booked                 0
Flights with Companions        0
Total Flights                  0
Distance                       0
Points Accumulated             0
Points Redeemed                0
Dollar Cost Points Redeemed    0
dtype: int64

In [73]:
df_loyalty_history.isnull().sum()

Loyalty Number            0
Country                   0
Province                  0
City                      0
Postal Code               0
Gender                    0
Education                 0
Salary                 4238
Marital Status            0
Loyalty Card              0
CLV                       0
Enrollment Type           0
Enrollment Year           0
Enrollment Month          0
Cancellation Year     14670
Cancellation Month    14670
dtype: int64

In [74]:
# Los nulos de las columnas 'Cancellation Year' y 'Cancellation Month' se deben a que no se ha cancelado la membresía, 
# según los datos que nos da el enunciado, por lo que reemplazo los valores nulos por 0.
df_loyalty_history['Cancellation Year'] = df_loyalty_history['Cancellation Year'].fillna(0)
df_loyalty_history['Cancellation Month'] = df_loyalty_history['Cancellation Month'].fillna(0)

In [75]:
# Comprobación nulos en el segundo dataframe
df_loyalty_history.isnull().sum()

Loyalty Number           0
Country                  0
Province                 0
City                     0
Postal Code              0
Gender                   0
Education                0
Salary                4238
Marital Status           0
Loyalty Card             0
CLV                      0
Enrollment Type          0
Enrollment Year          0
Enrollment Month         0
Cancellation Year        0
Cancellation Month       0
dtype: int64

In [76]:
# Comprobación de la media y la mediana de la columna 'Salary' para ver si cuál de las dos uso para imputar los nulos
df_loyalty_history['Salary'].mean()

np.float64(79245.6094087527)

In [77]:
df_loyalty_history['Salary'].median()

np.float64(73455.0)

In [78]:
# Como la media y la mediana son muy parecidas, se puede usar cualquiera de las dos para imputar los nulos
df_loyalty_history['Salary'] = df_loyalty_history['Salary'].fillna(df_loyalty_history['Salary'].mean())

In [79]:
# Comprobación de nulos tras la imputación
df_loyalty_history.isnull().sum()

Loyalty Number        0
Country               0
Province              0
City                  0
Postal Code           0
Gender                0
Education             0
Salary                0
Marital Status        0
Loyalty Card          0
CLV                   0
Enrollment Type       0
Enrollment Year       0
Enrollment Month      0
Cancellation Year     0
Cancellation Month    0
dtype: int64

In [ ]:
# Unión de ambos dataframes mediante un merge con left join, ya que quiero todos los datos del primer dataframe
df = pd.merge(df_flight_activity, df_loyalty_history, on='Loyalty Number', how='left')
df

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.000000,Married,Aurora,7919.20,Standard,2016,8,0.0,0.0
1,100102,2017,1,10,4,14,2030,203.0,0,0,Canada,Ontario,Toronto,M1R 4K3,Male,College,79245.609409,Single,Nova,2887.74,Standard,2013,3,0.0,0.0
2,100140,2017,1,6,0,6,1200,120.0,0,0,Canada,British Columbia,Dawson Creek,U5I 4F1,Female,College,79245.609409,Divorced,Nova,2838.07,Standard,2016,7,0.0,0.0
3,100214,2017,1,0,0,0,0,0.0,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Male,Bachelor,63253.000000,Married,Star,4170.57,Standard,2015,8,0.0,0.0
4,100272,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,P1L 8X8,Female,Bachelor,91163.000000,Divorced,Star,6622.05,Standard,2014,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403755,999902,2018,12,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,M1R 4K3,Male,College,79245.609409,Married,Aurora,7290.07,Standard,2014,5,0.0,0.0
403756,999911,2018,12,0,0,0,0,0.0,0,0,Canada,Newfoundland,St. John's,A1C 6H9,Male,Doctor,217943.000000,Single,Nova,8564.77,Standard,2012,8,0.0,0.0
403757,999940,2018,12,3,0,3,1233,123.0,0,0,Canada,Quebec,Quebec City,G1B 3L5,Female,Bachelor,47670.000000,Married,Nova,20266.50,Standard,2017,7,0.0,0.0
403758,999982,2018,12,0,0,0,0,0.0,0,0,Canada,British Columbia,Victoria,V10 6T5,Male,College,79245.609409,Married,Star,2631.56,Standard,2018,7,0.0,0.0
403759,999986,2018,12,0,0,0,0,0.0,0,0,Canada,Ontario,Ottawa,K1F 2R2,Female,Bachelor,46594.000000,Married,Nova,8257.01,2018 Promotion,2018,2,0.0,0.0

In [82]:
# Guardar el dataframe limpio en un archivo csv
df.to_csv('./files/df_limpio.csv', index=False)